body
{
   margin: 0px;
   padding: 0px;
   font-size:12px;
   font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

label{
float: left;
width: 120px;
font-weight: bold;
}

input, textarea, select{
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}




.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}

div.sw-menu
{
   padding: 5px;
   margin: 2px;
   border-bottom: darkred dashed 1px;
}
div.sw-menu a
{
   font-weight: normal;
   color: darkred;
   text-decoration: none;
}
div.sw-menu a.selected
{
   font-weight: bold;
   color: darkred;
   text-decoration: none;
}

fieldset.sw
{
        /*width: 10px;*/
        border:1px solid #990000;
        padding:6px 10px 10px 10px;
        margin:10px 0 10px 0;
        background-color:#eee;
}
fieldset.sw legend
{
        color:#990000;
}
fieldset.sw label
{
        color: #990000;
        display: block;
        width: 150px;
}
fieldset.sw table
{
        padding:0px;
        width:100%;
        border:0px solid black;
}
fieldset.sw th, fieldset.sw td
{
        padding:4px;
        border:0px solid black;
        background-color:#fff;
}
fieldset.sw form
{
/*        display:inline;*/
}

